*{
    border:0;
    margin:0;
    padding:0;
}

body {
    background-color: #222222;
    color: aliceblue;
    font-family: 'Montserrat Alternates', sans-serif;
}

body div#container {
    position: absolute;
    top: 30%;
    width: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
}

body div#container main {
    background-color: #333;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #444 1px solid;
    border-left: #444 1px solid;
    box-shadow: 1px 2px 15px 1px #111;
}

body div#container main h1 {
    font-weight: 100;
}